.container{
    text-align: center;
    padding: 5%;  
    padding-top: 20vh;
}
.grid{
    width: fit-content;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    border: solid black;
    background-color: rgba(0,0,0,255);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
