.calculator-screen{
    width: 326px; 
    height: 90px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.inner-screen{
    
}